<h1>New Message</h1>
<%= form_for @message do |f| %>
	<%= f.select :recipient_id, User.recipient_options(current_user) %>
	<%= f.label :body %>
	<%= f.text_area :body, class: 'form-control' %>
	<%= f.submit "Send Message", class: "btn btn-secondary" %>
<% end %>